body {
    background-color: rgb(123, 177, 246);
    font: Arial, 12pt;
    color: black;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.37);
}

div {
    font: Arial bold;
    font-size: 12pt;
    padding: 10px;
    text-align: center;
}

footer {
    font-style: italic;
    text-align: center;
    padding: 10px;
}