body {
    background-color: #323f50ad;
    font: Arial, 18pt;
    color: black;
}

header {
    text-align: center;

}

section {
    border-radius: 1px;
    padding: 10px;
    width: auto;
    margin: auto;
}

div {
    font: Arial bold;
    font-size: 12pt;
    padding: 10px;
    text-align: center;

}

footer {
    text-align: center;
}

p#foot{
    padding: 10px;
    text-align: center;
}